<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin/main}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="admin-content">
    <h3>Admin Dashboard</h3>
    <p>Sử dụng thanh bên để quản lý danh mục và sản phẩm.</p>
    <div class="row g-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Danh mục</h5>
                    <a class="btn btn-outline-primary" th:href="@{/admin/categories}">Quản lý</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sản phẩm</h5>
                    <a class="btn btn-outline-primary" th:href="@{/admin/products}">Quản lý</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


