.contact-section {
    padding: 2rem 1rem;
    margin: auto;
    font-family: "Helvetica", sans-serif;
    box-sizing: border-box;
}

.contact-header {
    text-align: center;
    margin-bottom: 2rem;
}

.contact-header h2 {
    color: #2C6E1F;
    font-size: 36px;
    font-weight: 600;
}


.contact-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: flex-start;
    box-shadow: 0px 4px 24px 0px #0000001F;
    border-radius: 24px;
    padding: 40px 40px 60px 40px;
    box-sizing: border-box;
}

.contact-image {
    flex: 1 1 40%;
}

.contact-image img {
    height: auto;
    border-radius: 24px;
    width: 100%;
    display: block;
}

.contact-form {
    flex: 1 1 55%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;
}

.contact-form h3 {
    color: #2C6E1F;
    margin: 0;
    font-weight: 600;
    font-size: 28px;
}
.breadcrumb{
    font-size: 14px;
    font-weight: 500;
}

.contact-form p{
    color: #666666;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size:18px;
}

.form-row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 16px;
}

.file-group{
    width: 290px;
}


.form-group input,
.form-group select,
.form-group textarea {
    border: 1.15px solid #ccc;
    border-radius: 13px;
    padding: 0.6rem;
    font-size: 0.95rem;
    transition: border-color 0.3s;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: 56px;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: #1e6d1e;
    outline: none;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

.file-box {
    border: 1px solid #aaa;
    padding: 1rem;
    text-align: center;
    border-radius: 12px;
    background-color: #fafafa;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: border-color 0.3s;
    font-weight: unset!important;
}

.file-box:hover {
    border-color: #1e6d1e;
}

.file-box i {
    margin-top: 8px;
    font-size: 1.2rem;
    color: #999999;
}

.file-placeholder {
    color: #777;
    font-size: 0.95rem;
    pointer-events: none;

}

.file-box input[type="file"] {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}


.note {
    color: #373534!important;
    margin-top: 1rem;
    font-weight: 600 !important;
    font-size:14px !important;
}

.btn-contact {
    text-align: center;
    border-radius: 13px;
    padding: 16px 0;
    background: #2C6E1F;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF
}

.btn-submit:hover {
    background-color: #145014;
}

/* Responsive */
@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
        padding: 24px;
    }

    .form-row {
        flex-direction: column;
        gap: 1rem;
    }

    .form-group,
    .form-group input,
    .form-group select,
    .form-group textarea {
        width: 100%;
        max-width: 100%;
    }

    .contact-image img {
        width: 100%;
        height: auto;
    }
}
