/* ===== Basic website styles ===== */
body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  letter-spacing: 0;
}

img {
    width: 100%;
    object-fit: cover;
}


footer a:hover { text-decoration: underline; }
