.hero-section .title-content .title {
    font-weight: 600;
    font-size: 36px;
    line-height: 64px;
    text-align: center;
    color: #020808;
}

.hero-section .search-content {
    width: 80%
}

.hero-section .search-content input {
    justify-content: space-between;
    border-radius: 24px;
    padding: 18px 24px;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    border: unset;
}

.block-content {
    width: 303px;
    gap: 24px;
    border-radius: 24px;
    padding-top: 38px;
    padding-right: 24px;
    padding-bottom: 38px;
    padding-left: 24px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px 0px #0000001F;
}

.block-content .line-content {
    border: 0.375px solid #999999;
    width: 90%;
}

.block-content .text-content {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #2C6E1F;
}

.support-page .support-page-content {
    margin-top: 60px;
    gap: 24px;
}

.support-page .support-page-content .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #020808;
}

.question-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #020808;
    border-radius: 12px;
    padding: 16px 22px;
    background: #FFFFFF;
}

.btn-see-more {
    border-radius: 12px;
    padding: 16px 40px;
    background-color: #2C6E1F;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}