<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="website-header" class="position-sticky">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: unset">
        <div class="container" style="padding: unset">
            <a class="navbar-brand" style="padding: unset" th:href="@{/{lang}(lang=${#locale.language})}">
                <img th:src="@{/image/image_155.png}" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarWebsite"
                    aria-controls="navbarWebsite" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarWebsite">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" th:href="@{/{lang}(lang=${#locale.language})}" th:text="#{nav.home}"></a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/{lang}/products(lang=${#locale.language})}" th:text="#{nav.products}"></a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/{lang}/about(lang=${#locale.language})}" th:text="#{nav.about}"></a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/{lang}/contact(lang=${#locale.language})}" th:text="#{nav.certification}"></a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/{lang}/contact(lang=${#locale.language})}" th:text="#{nav.support}"></a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/{lang}/contact(lang=${#locale.language})}" th:text="#{nav.contact}"></a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="langDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="me-1">🌐</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="langDropdown">
                            <li><a class="dropdown-item lang-switch" href="#" data-lang="en" th:text="#{nav.language.en}">English</a></li>
                            <li><a class="dropdown-item lang-switch" href="#" data-lang="vi" th:text="#{nav.language.vi}">Vietnamese</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>


