<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/website/main}">
<head>
    <link rel="stylesheet" th:href="@{/css/website/certification.css}">
</head>
<body>
<div layout:fragment="website-content">
    <div class="position-relative breadcrumb d-flex justify-content-center align-items-center" style="margin-bottom: 64px">
        <img src="/image/breadcrumb.jpg">
        <div class="position-absolute">
            <h1 style="text-align: center; font-weight: 600; font-size: 36px; line-height: 64px;" th:text="#{certification.h}"></h1>
            <p class="text-center">
                <a th:href="@{/{lang}(lang=${#locale.language})}" style="color:unset"><span th:text="#{home}"></span></a> >
                <span th:text="#{certification}"></span>
            </p>
        </div>
    </div>
    <div class="certification-container container">
        <div class="certification-content content">
            <div class="logos d-flex flex-column align-items-center" style="gap: 24px">
                <div class="title-content">
                    <h2 th:text="#{certificationContent.title}">Đảm bảo chất lượng</h2>
                    <p th:text="#{certificationContent.content}"></p>
                </div>
                <div class="d-flex justify-content-center icons align-items-center" style="gap: 24px">
                    <div class="big-icon">
                        <img src="/image/global.png" alt="GLOBALG.A.P." style="padding: 40px 32px">
                    </div>
                    <div class="big-icon">
                        <img src="/image/bioagricultura.png" alt="Bio Agricoltura" style="padding: 29px 37px;">
                    </div>
                </div>
                <div class="d-flex justify-content-center icons" style="gap: 24px">
                    <div class="d-flex justify-content-center" style="gap: 24px">
                        <div>
                            <img src="/image/brgs.png" alt="BRGS" style="padding: 15px 29px">
                        </div>
                        <div>
                            <img src="/image/csqa.png" alt="CSQA" style="padding: 15px 45.5px;">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center" style="gap: 24px">
                        <div>
                            <img src="/image/sedex.png" alt="Sedex" style="padding: 15px 55.5px;">
                        </div>
                        <div>
                            <img src="/image/klbd.png" alt="KLD" style="padding: 15px 26.5px;">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center icons" style="gap: 24px">
                    <div class="d-flex justify-content-center" style="gap: 24px">
                        <div>
                            <img src="/image/iqnet.png" alt="IQNet" style="padding: 31px 13px;">
                        </div>
                        <div>
                            <img src="/image/grasp.png" alt="GRASP" style="padding: 15px 55px;">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center" style="gap: 24px">
                        <div>
                            <img src="/image/ifs.png" alt="IFS" style="padding: 18px 13px;">
                        </div>
                        <div>
                            <img src="/image/plma.png" alt="PLMA" style="padding: 38px 14px;">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center icons" style="gap: 24px">
                    <div class="d-flex justify-content-center" style="gap: 24px">
                        <div>
                            <img src="/image/accred.png" alt="" style="padding: 15px 48.5px;">
                        </div>
                        <div>
                            <img src="/image/afi.png" alt="" style="padding: 15px 53px;">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center" style="gap: 24px">
                        <div>
                            <img src="/image/smeta.png" alt="" style="padding: 15px 45.5px;">
                        </div>
                        <div>
                            <img src="/image/iaf.png" alt="" style="padding: 15px 19.5px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
