<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/website/main}">
<head>
    <link rel="stylesheet" th:href="@{/css/website/contact.css}">
</head>
<body>
<div layout:fragment="website-content">
    <section class="container" style="padding:30px 0 20px;font-size:14px">
        <a th:href="@{/{lang}(lang=${#locale.language})}" style="color:unset"><span th:text="#{home}"></span></a> >
        <span th:text="#{contact}"></span>
    </section>
    <section class="position-relative">
        <img src="/image/contact.png" style="height: 60vh">
    </section>
    <section class="container hero-section d-flex flex-column align-items-center position-relative"
             style="margin-top: -45vh;z-index: 2;gap: 60px">
        <div class="title-content">
            <div class="title" th:text="#{contactContent.title}"></div>
        </div>
        <div class="d-flex justify-content-center" style="flex-flow: wrap; gap: 24px">
            <div class="block-content d-flex flex-column align-items-center">
                <div class="image-content">
                    <img src="/image/message.png" alt="">
                </div>
                <div class="line-content">
                </div>
                <div class="d-flex flex-column" style="gap: 4px">
                    <div class="text-content text-center" th:text="#{contactContentChat.title}"></div>
                    <div class="text text-center" th:text="#{contactContentChat.text}">
                    </div>
                </div>
                <div class="d-flex" style="width: 250px">
                    <div class="btn-contact w-100" th:text="#{contactContentChat.button}"></div>
                </div>
            </div>
            <div class="block-content d-flex flex-column align-items-center">
                <div class="image-content">
                    <img src="/image/message.png" alt="">
                </div>
                <div class="line-content">
                </div>
                <div class="d-flex flex-column" style="gap: 4px">
                    <div class="text-content text-center" th:text="#{contactContentForm.title}">

                    </div>
                    <div class="text text-center" th:text="#{contactContentForm.text}">
                    </div>
                </div>
                <div class="d-flex" style="width: 250px">
                    <a class="btn-contact w-100" th:href="@{/{lang}/contact-us(lang=${#locale.language})}" th:text="#{contactContentForm.button }"></a>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>