<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/website/main}">
<body>
<div layout:fragment="website-content">
    <section>
        <div class="position-relative">
            <div><img style="height: 100vh" th:src="@{/image/image_154.png}" alt=""></div>
            <div class="position-absolute d-flex flex-column" style="gap: 32px; top: 10%; left: 5%;">
                <div style="width: 319px; font-weight: 700; font-size: 64px; line-height: 80px; color: #2C6E1F;">Cà Chua
                    Phơi Nắng
                </div>
                <div style="width: 624px; font-weight: 600;line-height: 32px;">Là sản phẩm 100% của Ý, nó được đặc trưng
                    bởi màu đỏ tươi và tươi và hình dáng thuôn dài. <br> Nó có kết cấu mềm mại và dễ chịu, nói lên tất
                    cả
                    hương vị của trái đất. Không sử dụng phụ gia hóa học để sấy khô, chỉ sử dụng ánh nắng mặt trời và
                    muối. Chính xác muối hoạt động như một chất bảo quản tự nhiên, mà không ảnh hưởng đến sản phẩm, vốn
                    vẫn còn ít nước muối, nhờ một phương pháp ướp muối sáng tạo.
                </div>
                <div class="d-flex">
                    <div class="d-flex"
                         style="border-radius: 15px; padding: 16px 40px; background: #2C6E1F;font-weight: 600;font-size: 16px;line-height: 24px;color: #FFFFFF">
                        Tìm hiểu thêm
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>

