<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/website/main}">
<head>
    <link rel="stylesheet" th:href="@{/css/website/placeOrder.css}">
</head>
<body>
<div layout:fragment="website-content">
    <div class="container breadcrumb" style="margin-top:30px;padding: 12px;font-size:14px;font-weight: 600">
        <div>
            <p>
                <a th:href="@{/{lang}(lang=${#locale.language})}" style="color:unset"><span th:text="#{home}"></span></a> >
                <a th:href="@{/{lang}/cart(lang=${#locale.language})}" style="color:unset"><span th:text="#{cart}"></span></a> >
                <span th:text="#{placeOrder}">
                </span>
            </p>
        </div>
    </div>
    <div class="container cart-page">
        <h3 class="fw-bold mb-4" th:text="#{placeOrder}"></h3>
        <div class="row g-4">
            <div class="col-lg-8">
                <div class="info-box">
                    <h5 class="fw-bold mb-4" th:text="#{customerInfo}"></h5>
                    <form class="row g-3">
                        <div class="col-12">
                            <label class="form-label fw-semibold" th:text="#{fullName}"></label>
                            <input type="text" class="form-control" name = "fullName" placeholder="Nguyễn Văn An" />
                        </div>

                        <div class="col-md-6">
                            <label class="form-label fw-semibold" th:text="#{phoneNumber}">Số điện thoại</label>
                            <input type="text" class="form-control" name = "phone" placeholder="0912345678" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label fw-semibold">Email</label>
                            <input type="email" name = "email" class="form-control w-100" placeholder="abc@gmail.com" style="height: auto; box-shadow: unset;"/>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label fw-semibold" th:text="#{city}">Thành phố / tỉnh</label>
                            <input type="text" name="city" class="form-control" placeholder="Hà Nội" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label fw-semibold" th:text="#{district}">Quận / huyện</label>
                            <input type="text" name="district" class="form-control" th:placeholder="#{districtEx}" />
                        </div>

                        <div class="col-md-6">
                            <label class="form-label fw-semibold" th:text="#{ward}">Phường / xã</label>
                            <input type="text" name="ward" class="form-control" th:placeholder="#{wardEx}" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label fw-semibold" th:text="#{neighborhood}">Tổ dân phố / thôn</label>
                            <input type="text" name="street"  class="form-control" th:placeholder="#{neighborhoodEx}" />
                        </div>
                    </form>
                </div>
            </div>
            <!-- Đơn hàng -->
            <div class="col-lg-4">
                <div class="card p-4">
                    <div>
                        <h5 class="fw-bold mb-3" th:text="#{yourOrder}"></h5>
                        <div class="total">
                            <div class="d-flex justify-content-between mb-2">
                                <span th:text="#{subtotal}"></span>
                                <span id="subtotal">0đ</span>
                            </div>
                            <div class="d-flex justify-content-between mb-2">
                                <span th:text="#{shippingCost}"></span>
                                <span id="shipping">100.000đ</span>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between fw-bold">
                                <span style="color:#2C6E1F" th:text="#{total}"></span>
                                <span id="price_total" class="text-success">0đ</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-success w-100 mt-4" style="background: #2C6E1F" th:text="#{placeOrder}"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const subtotalEl = document.getElementById("subtotal");
            const totalEl = document.getElementById("price_total");
            const orderButton = document.querySelector(".btn-success");
            const shipping = 100000;
            const form = document.querySelector("form");
            const phoneInput = form.querySelector("input[name='phone']");

            let cart = JSON.parse(localStorage.getItem("cart")) || [];
            let lang = window.location.pathname.split("/")[1] || "vi";
            let subtotal = 0;
            cart.forEach((item) => subtotal += item.price * item.quantity);
            subtotalEl.textContent = subtotal.toLocaleString("vi-VN") + "đ";
            totalEl.textContent = (subtotal + shipping).toLocaleString("vi-VN") + "đ";

            const mappedItems = cart.map(item => {
                const numberMatch = item.variantText.match(/(\d+)/);
                const textMatch = item.variantText.replace(/\d+/g, "").trim();

                const size = numberMatch ? parseInt(numberMatch[1]) : 0;
                const unit = textMatch || "gram";

                return {
                    productId: item.id,
                    productName: item.name,
                    variantName: item.variantText,
                    size,
                    price: item.price,
                    variantId:item.variantId,
                    unit,
                    quantity: item.quantity,
                    image: item.image
                };
            });


            phoneInput.addEventListener("input", function () {
                this.value = this.value.replace(/[^0-9]/g, '');
                if (this.value.length > 11) {
                    this.value = this.value.slice(0, 11);
                    alert("Số điện thoại không được vượt quá 11 chữ số!");
                }
            });

            orderButton.addEventListener("click", async (event) => {
                event.preventDefault();

                const form = document.querySelector("form");
                const formData = {
                    fullName: form.querySelector("input[name='fullName']").value,
                    phone: form.querySelector("input[name='phone']").value,
                    email: form.querySelector("input[name='email']").value,
                    city: form.querySelector("input[name='city']").value,
                    district: form.querySelector("input[name='district']").value,
                    ward: form.querySelector("input[name='ward']").value,
                    street: form.querySelector("input[name='street']").value
                };
                const emailRegex =  /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

                if (!formData.fullName || !formData.phone || !formData.email || !formData.city || !formData.district || !formData.ward) {
                    alert("Vui lòng điền đầy đủ thông tin!");
                    return;
                }


                if (!emailRegex.test(formData.email)) {
                    alert("Email không hợp lệ! Vui lòng nhập đúng định dạng (vd: abc@gmail.com).");
                    return;
                }

                const orderData = {
                    customer: formData,
                    items: mappedItems,
                    subtotal: subtotal,
                    shipping: shipping,
                    total: subtotal + shipping
                };

                try {
                    const response = await fetch("/api/placeOrder", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(orderData)
                    });

                    if (response.ok) {
                        localStorage.removeItem("cart");
                        window.location.href = `/${lang}/placeOrder/success`;
                    } else {
                        const error = await response.json();
                        alert("Lỗi khi đặt hàng: " + error.message);
                    }
                } catch (error) {
                    console.error("Lỗi:", error);
                    alert("Đã có lỗi xảy ra, vui lòng thử lại!");
                }
            });
        });
    </script>
</th:block>
</body>
</html>