<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/website/main}">
<head>
    <link rel="stylesheet" th:href="@{/css/website/success.css}">

</head>
<body>
<div layout:fragment="website-content">
    <div class="container breadcrumb" style="margin-top:1rem;gap:5px">
        <a th:href="@{/{lang}(lang=${#locale.language})}" style="color:unset"><span th:text="#{home}"></span></a> >
        <a th:href="@{/{lang}/cart(lang=${#locale.language})}" style="color:unset"><span th:text="#{cart}"></span></a> >
        <a th:href="@{/{lang}/contact(lang=${#locale.language})}" style="color:unset"><span th:text="#{placeOrder}"></span></a> >
        <span th:text="#{success}"></span>
    </div>
    <div class="order-success container">
        <div class="order-success-container d-flex flex-column" style="gap:24px;width: 60%">
            <div class="d-flex justify-content-center">
                <p class="checkmark m-0">✔</p>
            </div>
            <div class="title"><h3 th:text="#{placeOrderSuccessTitle}"></h3></div>
            <div class="message d-flex flex-column"  style="gap:24px" th:text="#{placeOrderSuccessContent}">
            </div>
            <div>
                <button class="button" onclick="window.location.href='/'" th:text="#{placeOrderSuccessButton}"></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
