<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/website/main}">
<head>
    <link rel="stylesheet" th:href="@{/css/website/support.css}">
</head>
<body>
<div layout:fragment="website-content">
    <section class="container" style="padding:30px 0 20px;font-size:14px">
        <p><a th:href="@{/{lang}(lang=${#locale.language})}" style="color:unset"><span th:text="#{home}"></span></a> >
            <span th:text="#{support}"></span>
        </p>

    </section>
    <section class="position-relative">
        <img src="/image/support.png" style="height: 60vh">
    </section>
    <section class="container hero-section d-flex flex-column align-items-center position-relative"
             style="margin-top: -45vh;z-index: 2;gap: 60px">
        <div class="title-content">
            <div class="title" th:text="#{support.title}"></div>
        </div>
        <div class="search-content">
            <form method="get" th:action="|/${lang}/support|">
                <input type="text" name="search"
                       th:value="${search}"
                       class="w-100"
                       id="searchInput"
                       th:placeholder="#{searchPlaceholder}"
                       onkeypress="if(event.key==='Enter'){event.preventDefault();this.closest('form').submit();}">
            </form>
        </div>
        <div class="d-flex justify-content-center" style="flex-flow: wrap; gap: 24px">
            <div class="block-content d-flex flex-column align-items-center">
                <div class="image-content">
                    <img src="/image/shopping-cart.png" alt="">
                </div>
                <div class="line-content">
                </div>
                <div class="text-content" th:text="#{support.content1}"></div>
            </div>
            <div class="block-content d-flex flex-column align-items-center">
                <div class="image-content">
                    <img src="/image/bag-tick-2.png" alt="">
                </div>
                <div class="line-content">
                </div>
                <div class="text-content" th:text="#{support.content2}"></div>

            </div>
            <div class="block-content d-flex flex-column align-items-center">
                <div class="image-content">
                    <img src="/image/refresh-circle.png" alt="">
                </div>
                <div class="line-content">
                </div>
                <div class="text-content" th:text="#{support.content3}"></div>
            </div>
        </div>
    </section>
    <section class="container support-page">
        <div class="support-page-content d-flex flex-column">
            <div class="title" th:text="#{question.title}">
            </div>
            <div class="d-flex flex-column" style="gap: 28px">
                <div class="d-flex flex-column" style="gap: 16px" th:each="q: ${questions}">
                    <div class="question-content" th:text="${q.title}"></div>
                </div>
                <div class="d-flex justify-content-end">
                    <div class="btn-see-more d-flex" th:text="#{buttonSupport}"></div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
